<div>
<h1>Car Information</h1>
<p><%= @car.name %></p>
<p><%= @car.supplier.name %></p>
<p><%= @car.price %></p>
<p><%= @car.description %></p>
<p><%= @car.sale_message %></p>
</div>
<div>
<% @car.categories.each do |category| %>
<p><%= category.name %></p>
<% end %>
</div>
<div>
<% @car.images.each do |car_image| %>
<img src = <%= car_image.url %> height = "300" width = "300" >
<% end %>
</div>
<%= form_tag "/carted_products", method: :post do %>
<div>
   <%= hidden_field_tag :car_id, @car.id %>
 </div>
  <div class="form-group">
   <%= label_tag :quantity %>
    <%= text_field_tag :quantity  %>
  </div>

  
<%= submit_tag "Add to Cart!", class: "btn btn-default" %>
<% end %>

<div>
  <a href="/cars">Back to all cars</a>
</div>
<div>
  <a href="/cars/<%= @car.id %>/edit">Edit this car</a>
</div>
<div>
 <%= link_to "Delete this car", "/cars/#{@car.id}", method: :delete %>
 </div>
