<div>
<h1>Car Information</h1>
<p><%= @car.name %></p>
<p><%= @car.supplier.name %></p>
<p><%= @car.price %></p>
<p><%= @car.description %></p>
<p><%= @car.sale_message %></p>

<% @car.images.each do |car_image| %>
<img src = <%= car_image.url %> height = "300" width = "300" >
<% end %>
</div>
<div>
  <a href="/cars">Back to all cars</a>
</div>
<div>
  <a href="/cars/<%= @car.id %>/edit">Edit this car</a>
</div>
<div>
 <%= link_to "Delete this car", "/cars/#{@car.id}", method: :delete %>
 </div>
